@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="align-items-center text-center">
        <h1 class="display-4">Essa não...</h1>
        <hr>
        <br/>
</div>
<div class="align-items-center text-center">
    <img src="https://www.imagenspng.com.br/wp-content/uploads/2020/02/emoji-png-49.png"/>
    <h3>
        Parece que você obteve um erro!
    </h3>
    <h4>
        @if (Model.ShowRequestId){
            <strong>ID da sua requisição</strong> <code>@Model.RequestId</code>
        }
    </h4>
    <h6>
        Por favor, entre em contato com o adiministrador do sistema para reportar <strong>falhas</strong> e <strong>bugs</strong> encontrados no sitema. 
        Isso ajuda muito na <strong>sua experiencia</strong> e <strong>no aprendizado</strong> do desenvolvedor.

        Entre em contato pelos seguintes canais:
        LinkedIn: <strong>https://br.linkedin.com/in/caiosantosportugal</strong>
        GitHub: <strong>https://github.com/caiosantosp</strong>
    </h6>

</div>
