@page
@model ControleDeEstoqueProduto.Pages.Produtos.CompraModel
@{
}
<div class="align-items-center text-center">
        <h1 class="display-4">Compra de Produto</h1>
        <hr>
        <br/>
</div>

<div class="align-items-center text-center">
    <img src="https://www.imagenspng.com.br/wp-content/uploads/2020/02/emoji-png-06.png" />
    <h2>Isso ainda não está disponivel</h2>
    <h5>Volte mais tarde...</h5>
    <br />
    <br />

    <a class="btn btn-primary btn-lg" class="nav-link text-dark" asp-area="" asp-page="/Index">Combinado</a>
</div>


